python-dotenv
streamlit
langchain-groq==0.1.9
langgraph==0.2.1
openbb==4.3.1
pandas_ta==0.3.14b
duckduckgo_search
numpy==1.26.4
aiohttp>=3.8.0
setuptools
openbb==4.3.1
defusedxml>=0.8.0rc2
setuptools
